parameters:
    level: 8
    bootstrapFiles:
        - vendor/autoload.php
    paths:
        - packages/engine/src
        - packages/framework/src
        - packages/demo/src
        - packages/skeleton/src
        - packages/skeleton/bin
        - packages/skeleton/client.php
